<!DOCTYPE html>
<html>
{{> head }}
<body>
	<header class="bar bar-nav">
		<h1 class="title">Free-flight Logbook</h1>
	</header>
	
	<div class="content">
	</div>
	
	<div class="bar bar-standard bar-footer">
		<a class="btn btn-primary navigate-right" href="./add_model.html" data-transition="slide-in">
			<span class="icon icon-plus pull-left"></span>
			Add Model
		</a>
		<a class="icon icon-gear pull-right" href="./settings.html" data-transition="slide-in"></a>
	</div>
	
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>