<!DOCTYPE html>
<html>
{{> lib/head }}
<body>
	<header class="bar bar-nav">
		<a id="back" class="icon icon-left-nav pull-left" data-transition="slide-out"></a>
		<h1 class="title">Locations</h1>
	</header>
	
	<div class="content">
		<ul class="table-view" id="location-list">
			{{!  Loaded from database }}
		</ul>
	</div>
	
	<div class="bar bar-standard bar-footer">
		<a class="btn btn-primary pull-left" data-transition="slide-in">
			<span class="icon icon-plus"></span>
			Add Location
        </a>
        <a class="btn btn-primary pull-right" data-transition="slide-in">
			<span class="icon icon-info"></span>
			Location Info
		</a>
	</div>
	
    {{> lib/footer }}
</body>
</html>