<!DOCTYPE html>
<html>
{{> lib/head }}
<body class="flight-log">
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" 
			data-transition="slide-out" 
			id="back"
		></a>
		<h1 class="title"></h1>
	</header>
	
	<div class="content">
    </div>
    
    <div class="bar bar-standard bar-footer">
		<a class="btn btn-positive pull-left" href="./flight.html" data-transition="slide-in">
			<span class="icon icon-plus"></span>
			New Flight
		</a>
		<a class="btn btn-primary pull-right" data-transition="slide-in">
			<span class="icon icon-compose"></span>
			Edit
		</a>
	</div>
	
    {{> lib/footer }}
</body>
</html>