<!DOCTYPE html>
<html>
{{> lib/head }}
<body>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" 
			data-transition="slide-out" 
			id="back"
		></a>
		<h1 class="title">Settings</h1>
	</header>
	
	<div class="content">
		<div class="card">
			<form>
				<ul class="table-view">
					<li class="table-view-cell media">
						<a class="navigate-right" href="./log_formats.html" data-transition="slide-in">
							Default Log Format
							<span class="log-format pull-right settings-text"></span>
						</a>
					</li>
					<li class="table-view-cell media">
						<a class="navigate-right setting_link" href="./setting_selection.html" 
							data-transition="slide-in" 
							data-settingname="unitLength"
						>
							Length Unit
							<span class="unit-length pull-right settings-text"></span>
						</a>
					</li>
					<li class="table-view-cell media">
						<a class="navigate-right setting_link" href="./setting_selection.html" 
							data-transition="slide-in" 
							data-settingname="unitWeight"
						>
							Weight Unit
							<span class="unit-weight pull-right settings-text"></span>
						</a>
					</li>
					<li class="table-view-cell media">
						<a class="navigate-right setting_link" href="./setting_selection.html" 
							data-transition="slide-in" 
							data-settingname="unitTorque"
						>
							Torque Unit
							<span class="unit-torque pull-right settings-text"></span>
						</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
	
    {{> lib/footer }}
</body>
</html>