<!DOCTYPE html>
<html>
{{> head }}
<body>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" href="./index.html"  data-transition="slide-out"></a>
		<h1 class="title">Settings</h1>
	</header>
	
	<div class="content">
		<div class="card">
			<ul class="table-view">
				<li class="table-view-cell">
					Settings form
				</li>
			</ul>
		</div>
	</div>
	
	<div class="bar bar-standard bar-footer">
		<a class="icon icon-gear pull-right"></a>
	</div>
	
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>

</html>