html {
	-webkit-user-select: none;
}

textarea {
	padding-top: 5px;
	padding-bottom: 5px;
} 

* {
	font-size: 10pt;
}
.bar-nav {
	background-color: #209dc2;
	color: #ffffff;
	
	.icon {
		color: #ffffff;
	}
}
.title {
	color: #ffffff;
}
.bar a.btn .icon {
	font-size: inherit;
	top:0;
	margin-right: 5px;
}
div.content .icon {
	font-size: inherit !important;
}
form .input {
	padding: 11px 15px 11px 15px;
}
a.selection span.icon {
	width: 24px;
}
.settings-text {
	margin-right: -30px;
	color: #999;
}
.plane-pic {
	vertical-align: bottom;
	margin-right: -100px;
}
.click-instruction {
	width: 100px;
	display: inline-block;
	text-align: center;
	padding: 20px;
}

.model-row {
	margin-top: 5px;
	img{
		vertical-align: top;
	}
	.model-info {
		margin-left: 5px;
		display:inline-block;
		text-align: left;
		div {
			text-align: left;
			width: 100%;
		}
	}
	.model-name {
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 5px;
	}
}

#timer {
	text-align: center;
	font-size: 6em;
	margin-top: 50%;
	width: 100%;
}

form#new-flight {
	li.table-view-cell {
		display: none;
	}
}

div.content div.buttons {
	margin: 10px;
}

#timer-instruction {
	text-align: center;
	font-size: 17px;
	margin-top: 50px;
}

#timer-buttons {
	a.timer-button {
		display: none;
	}
	width: 100%;
}

.flight-log table {
	min-width: 100%;

	td, th {
		white-space: nowrap;
		text-align: left;
	}

	td {
		padding: 2px 8px 0px 8px;
	}

	th {
		font-weight: bold;
		text-transform: capitalize;
		padding: 2px 8px 2px 8px;
	}

	tr.header {
		background: #ccc;
	}

	span.unit {
		color: #999;
	}
}
